.gc-tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &-title {
    width: 100%;
    flex-basis: auto;
  }

  &-user-entries {
    margin: 20px 0;

    select {
      border-radius: 0;
      min-width: 200px;
      width: 100%;

      @include mq($from: 768px) {
        width: 50%;
      }
    }
  }
  &-content {
    width: 100%;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    @include mq($from: 1024px) {
      width: 70%;
      padding: 20px 5px 0 5px;
    }

    h3 {
      margin-bottom: 10px;
      padding-bottom: 3px;
      // border-bottom: 1px solid #d8d8d8;
    }
  }

  &-links {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    border: 1px solid #333;
    

    @include mq($from: 1024px) {
      flex-wrap: nowrap;
      border-top: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
      border-right-width: 0;
      border-left-width: 0;
    }

    li {
      padding: 10px 20px;
      width: 50%;
      text-align: center;
      display: block;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      background-color: #ccc;
      border-bottom: 1px solid #333;

      &:nth-of-type(odd) {
        border-right: 1px solid #333;
      }

      &:nth-of-type(5),
      &:nth-of-type(6) {
        border-bottom: 0;
      }

      @include mq($from: 768px) {
        width: calc(100%/6);
        border-bottom: 0;
        border-right: 1px solid #333;

        &:last-of-type {
          border-right: 0;
        }
      }

      @include mq($from: 1024px) {        
        width: calc(100% / 6);
        display: block;
        background-color: transparent;
        transition: background-color 240ms $t-1;
        border: 0;

        &:nth-of-type(odd) {
          border-right: 0;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          opacity: 0;
          background-color: #1f8aa5;   
          transition: opacity 240ms $t-1;     
        }
      }

      span {
        font-style: bold;
        text-transform: uppercase;
        font-size: 14px;
        color: $color-black;
        transition: color 240ms $t-1;
      }

      &:hover ,
      &.-active {
        @include mq($to: 1024px) {
          background-color: #1f8aa5;

          span {
            color: $color-white;
          }
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &-golfers {
    list-style: none;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    overflow-y: auto;

    li {
      max-width: 100%;
      width: 100%;
      flex-basis: auto;

      @include mq($from: 475px) {
        max-width: 50%;
      }

      @include mq($from: 767px) {
        max-width: 33.33%;
      }
    }

    p {
      margin: 5px 0;
      padding: 5px 0;
      cursor: pointer;
      display: inline-block;

      &.-null {
        color: #ccc;
        cursor: default;
      }
    }
  }

  &-submit {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #1f8aa5;
    color: $color-white;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    text-align: center;

    @include mq($from: 768px) {
      display: inline-block;
    }

  }

  &-picks {
    width: 100%;
    flex-basis: auto;
    padding: 20px 0;

    @include mq($from: 1024px) {
      width: 30%;
      padding: 20px 5px 0 10px;
    }

    &-title {
      padding: 10px 0;    
      font-style: bold;
      text-transform: uppercase;
      font-size: 14px;
      color: $color-black;
      border-top: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
    }

    &-item {
      display: flex;
      width: 100%;
      justify-content: space-between;

      span {
        font-size: 12;
        color: red;
        cursor: pointer;
      }
    }

    &-list {
      padding: 5px;

      p {
        padding: 5px 0;
      }
    }
  }
}