//Colors
$color-white:                 #FFFFFF;
$color-black:                 #000000;

// Transitions
$t-1:                   			cubic-bezier(0.2, 0.3, 0.25, 0.9);


// z-index
$z1: 100;
$z2: 200;
$z3: 300;
$z4: 400;
$z5: 500;
$z6: 600;
$z7: 700;
$z8: 800;
$z9: 900;
$z10: 1000;

// Applied z's
$nav-container-z:   $z10;
$content-z:         $z1;

